p.mindmaps-wrapper {
    margin: 0;
}

svg.mindmaps {
    width: 80%;
    border: 1px dashed #ededed;
    border-radius: 4px;
    background: url(./gridme.png) repeat center center;
    background-size: 20px 20px;
}